# Example Configuration 
# 
POSTGRES_USER=guacadb
POSTGRES_PASSWORD=passguaca
# Uncomment if you want to test with dummy certificates
# LETSENCRYPT_TEST=false 
VIRTUAL_HOST=example.io
LETSENCRYPT_HOST=example.io
LETSENCRYPT_EMAIL=example@mail.com